{% if bucket.contains_active_event %}
    <div class="absolute top-0 bottom-0 left-1/2 z-10 w-[2px] -translate-x-1/2 bg-error"></div>
{% endif %}
{% if bucket.has_overlay %}
    <div class="absolute bottom-0 w-full bg-base-300"
         style="height: {{ bucket.pct }}%;"></div>
    {% if clickable or bucket.matching_count %}
        <div class="absolute bottom-0 w-full bg-primary {% if clickable %}group-hover:bg-primary/80{% endif %}"
             style="height: {{ bucket.matching_pct }}%;"></div>
    {% endif %}
{% else %}
    <div class="bg-primary {% if clickable %}group-hover:bg-primary/80{% endif %} w-full"
         style="height: {{ bucket.pct }}%;">
    </div>
{% endif %}
