{% extends "events/base.html" %}

{% block content %}
<div class="m-4">
{% for exception in exceptions %}
    <h1 class="text-3xl mt-4">{{ exception.type }}</h1>
    <div class="text-2xl">{{ exception.value }}</div>
    <div class="italic mt-4">{{ parsed_data.request.method }} {{ parsed_data.request.url }}</div><br>

    {% for frame in exception.stacktrace.frames %}
        
        <div class="xl:flex">

        <div class="mt-4 mb-4 bg-slate-100 xl:w-1/2">

            <div class="font-mono">
                <div class="pl-4 pt-2 pb-2 border-b-2 {% if frame.in_app %}bg-slate-300 border-slate-500{% else %}bg-slate-100 border-slate-300{% endif %}">
                    <span class="font-bold">{{ frame.filename }}</span> in <span class="font-bold">{{ frame.function }}</span> line <span class="font-bold">{{ frame.lineno }}</span>.
                </div>

                <ol class="list-decimal ml-16 mt-6 mb-6" start="100">
                {% for line in frame.pre_context %}<li><div class="whitespace-pre w-full">{{ line }} {# leave space to avoid collapse #}</div></li>{% endfor %}
                <li><div class="whitespace-pre font-bold bg-slate-300 w-full">{{ frame.context_line }} {# leave space to avoid collapse #}</div></li>
                {% for line in frame.post_context %}<li><div class="whitespace-pre w-full">{{ line }} {# leave space to avoid collapse #}</div></li>{% endfor %}
                </ol>
            </div>

        </div>
        <div class="mt-4 xl:ml-4 mb-12 p-4 bg-slate-100 xl:w-1/2">
            
            {% for var, value in frame.vars.items %}
            <div class="flex">
                <div class="w-1/4 pl-2 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ var }}</div>
                <div class="w-3/4 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ value }}</div>
            </div>
            {% endfor %} 

        </div>

        </div>

    {% endfor %}

    {% if not forloop.last %}While handling the above exception, yad yad<br>{% endif %}

{% endfor %}


{% if parsed_data.logentry %}

    <h1 class="text-3xl mt-4">{{ parsed_data.logentry.formatted }}</h1>
    <div>this is a log entry (I intend to make this clear in some other way)</div>

    {% if parsed_data.logger %}
    Emitted by {{ parsed_data.logger }}
    {% endif %}

{% endif %}

{% if parsed_data.request %}

    <h1 class="text-3xl mt-4">Request</h1>

        <div class="mt-4 mb-12 p-4 bg-slate-100">
            
            {% for request_key, request_value in parsed_data.request.items %}
            {% if request_key != "headers" and request_key != "env" %}{# we deal with these below #}
            <div class="flex">
                <div class="w-1/4 pl-2 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ request_key }}</div>
                <div class="w-3/4 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ request_value }}</div>
            </div>
            {% endif %}
            {% endfor %}

            <h3 class="text-2xl mt-4">Request headers</h1>

            {% for header_key, header_value in parsed_data.request.headers.items %}
            <div class="flex">
                <div class="w-1/4 pl-2 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ header_key }}</div>
                <div class="w-3/4 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ header_value }}</div>
            </div>
            {% endfor %}

            <h3 class="text-2xl mt-4">Request env</h1>

            {% for env_key, env_value in parsed_data.request.env.items %}
            <div class="flex">
                <div class="w-1/4 pl-2 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ env_key }}</div>
                <div class="w-3/4 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ env_value }}</div>
            </div>
            {% endfor %} 

        </div>


{% endif %}


<h1 class="text-3xl mt-4">Grouper</h1>


Issue grouper: <span class="font-mono whitespace-pre">"{{ issue_grouper }}"</span>

</div>

{% endblock %}
