{% load static tailwind_tags %}
<html>
<head>
    {% tailwind_css %}
</head>
<body>

<div class="flex justify-center items-center">

    <div class="w-[96rem] p-4">

{% for exception in exceptions %}
    <h1 class="text-3xl mt-4">{{ exception.type }}</h1>
    <div class="text-2xl">{{ exception.value }}</div>
    <div class="italic mt-4">{{ parsed_data.request.method }} {{ parsed_data.request.url }}</div><br>

    {% for frame in exception.stacktrace.frames %}
        
        <div class="font-mono">
            <div class="font-bold">{{ frame.filename }} line {{ frame.lineno }}, in {{ frame.function }}.</div>

<ol class="list-decimal ml-12" start="100">
{% for line in frame.pre_context %}<li><div class="whitespace-pre w-full">{{ line }} {# leave space to avoid collapse #}</div></li>{% endfor %}
<li><div class="whitespace-pre font-bold bg-slate-200 w-full">{{ frame.context_line }} {# leave space to avoid collapse #}</div></li>
{% for line in frame.post_context %}<li><div class="whitespace-pre w-full">{{ line }} {# leave space to avoid collapse #}</div></li>{% endfor %}
</ol>

            {% for var, value in frame.vars.items %}
            <b>{{ var }}</b>: <i>{{ value }}</i></br>
            {% endfor %} 

        </div>

    {% endfor %}

    {% if not forloop.last %}While handling the above exception, yad yad<br>{% endif %}

{% endfor %}

    </div>

</div>

</body>
</html>
