# Python
*.pyc
__pycache__

# Virtual Environments / build
/.env
/.venv
/bin/
/include/
/lib/
/lib64
/pyvenv.cfg
/share/
/bugsink.egg-info/
/bugsink/_version.py
/dist/

# This matches the filestorage mentioned in development.py
/filestorage


# sqlite
/db.sqlite3
/db.*.sqlite3
/test.sqlite3

/db.sqlite3-wal
/db.*.sqlite3-wal
/test.sqlite3-wal

/db.sqlite3-shm
/db.*.sqlite3-shm
/test.sqlite3-shm

/snappea.sqlite3
/snappea.sqlite3-shm
/snappea.sqlite3-wal

# vim
*.swo
*.swp

# node (tailwind)
node_modules
/package*

# conf
/bugsink_conf.py

# static files
/collectedstatic

# Docker artifacts
/bugsink*tar
