# Python
*.pyc
__pycache__

# Virtual Environments
.env
.venv
bin/
include/
lib/
lib64
pyvenv.cfg
share/

# sqlite
db.sqlite3
db.*.sqlite3

# vim
*.swo
*.swp

# node (tailwind)
node_modules
/package*
