gunicorn
Django==4.2.*
sentry-sdk>=2.15.0
django-tailwind==3.6.*
jsonschema==4.19.*
semver==3.0.*
django-admin-autocomplete-filter==0.7.*
pygments==2.16.*
inotify_simple
brotli
python-dateutil
whitenoise
requests
monofy==1.1.*
user_agents
fastjsonschema>=2.21.0
verbose_csrf_middleware
