{% load static tailwind_tags %}<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %}{{ site_title }}{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% tailwind_preload_css %}
		{% tailwind_css %}
	</head>

	<body>
        <div id="content">
            <div class="flex pl-4 bg-slate-200">
                <a href="/"><img src="{% static 'images/bugsink-logo.png' %}" class="p-2 h-12 w-12"></a>
                <a href="/"><div class="pt-4 pb-4 pl-2 pr-2 font-bold">{{ site_title }}</div></a>

                {# TODO how to handle single-org, single-project #}

                <div class="dropdown">
                    <a href="TODO"><div class="p-4 hover:bg-slate-400">Group 1&nbsp;&nbsp;🞃 </div></a>
                     
                    <div class="dropdown-content-left flex-col">
                        <a href="TODO"><div class="bg-slate-200 hover:bg-slate-400 p-4 whitespace-nowrap {% if project == loop_project %}italic{% endif %}">Group 1</div></a>
                        <a href="TODO"><div class="bg-slate-200 hover:bg-slate-400 p-4 whitespace-nowrap {% if project == loop_project %}italic{% endif %}">Group 2</div></a>
                        <a href="TODO"><div class="bg-slate-200 hover:bg-slate-400 p-4 whitespace-nowrap {% if project == loop_project %}italic{% endif %}">Group 3</div></a>
                    </div>
                </div> 


                <div class="dropdown">
                    <a href="/issues/{{ project.id }}"><div class="p-4 hover:bg-slate-400">{{ project.name }}&nbsp;&nbsp;🞃 </div></a>
                     
                    <div class="dropdown-content-left flex-col">
                        {% for loop_project in user_projects %}  
                            {% if loop_project != project %}
                                <a href="/issues/{{ loop_project.id }}/"><div class="bg-slate-200 hover:bg-slate-400 p-4 whitespace-nowrap">{{ loop_project.name }}</div></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div> 

                <div class="ml-auto flex">
                {% if user.is_staff %}
                <a href="/admin/"><div class="p-4 hover:bg-slate-400">Admin</div></a>
                {% endif %}

                {% if logged_in_user.is_anonymous %}
                    <a href="/accounts/login/"><div class="p-4 hover:bg-slate-400">Login</div></a>
                {% else %}
                    <a href="/accounts/TODO/"><div class="p-4 hover:bg-slate-400">Profile</div></a>
                    <a href="/accounts/logout/"><div class="p-4 hover:bg-slate-400">Log out</div></a>
                {% endif %}
                </div>
            </div>
            <div>
                {% block content %}{% endblock %}
            </div>
        </div>
    {% block extra_js %}{% endblock %}
    </body>
</html>
