{# Tailwind/DaisyUI discovery for classes used by private template overrides. Not rendered. #}
<div class="
    alert
    alert-error
    alert-info
    alert-warning
    avatar
    badge
    badge-ghost
    badge-primary
    btn
    btn-block
    btn-circle
    btn-disabled
    btn-error
    btn-ghost
    btn-neutral
    btn-primary
    btn-sm
    card
    card-body
    checkbox
    checkbox-primary
    dropdown
    dropdown-content
    dropdown-end
    dropdown-hover
    input
    input-bordered
    join
    join-item
    link
    link-primary
    menu
    modal
    modal-backdrop
    modal-box
    navbar
    select
    select-bordered
    tab
    tab-active
    table
    tabs
    tabs-border
"></div>
