{% extends "base.html" %}
{% load static %}
{% block title %}{{ issue.title }}{# note: dubious: should perhaps be event.title... #} · {{ block.super }}{% endblock %}

{% block content %}
<div class="m-4 flex"><!-- container for the white bit (issue title, buttons) at the top of the page -->
    <div><!-- top, LHS (various texts) -->
        <h1 class="text-4xl font-bold">{{ issue.get_main_exception.type }}</h1>
        <div class="text-xl">{{ issue.get_main_exception.value }}</div>
        {% if parsed_data.request %}<div class="italic mt-4">{{ parsed_data.request.method }} {{ parsed_data.request.url }}</div>{% endif %}
        <div>{% with issue.get_main_exception.stacktrace.frames|last as last_frame %}<span class="font-bold">{% if last_frame.module %}{{ last_frame.module}}{% else %}{{ last_frame.filename }}{% endif %}</span>{% if last_frame.function %} in <span class="font-bold">{{ last_frame.function }}</span>{% endif %}{% endwith %}</div>
    </div>
    <div class="ml-auto"><!-- top, RHS (buttons) -->
        <form action="" method="post">
        {% csrf_token %}
        {% if issue.is_resolved %}{# i.e. buttons disabled #}
            {# see issues/tests.py for why this is turned off ATM #}
            {# <button class="font-bold text-slate-800 border-slate-500 pl-4 pr-4 pb-2 pt-2 ml-1 border-2 bg-cyan-200 hover:bg-cyan-400 active:ring rounded-md" name="action" value="reopen">Reopen</button> #}

            {% spaceless %}{# needed to avoid whitespace between the looks-like-one-buttons #}
            {% if issue.project.has_releases %}
                <button disabled class="font-bold text-slate-300 border-slate-300 pl-4 pr-4 pb-2 pt-2 ml-1 border-2 rounded-s-md" name="action" value="resolved_next">Resolved in next release</button>

                <button disabled class="font-bold text-slate-300 border-slate-300 pl-4 pr-4 pb-2 pt-2 border-r-2 border-t-2 border-b-2 rounded-e-md">🞃</button>
                {# we just hide the whole dropdown; this is the easiest implementation of not-showing the dropdown #}
            {% else %}
                <button disabled class="font-bold text-slate-300 border-slate-300 pl-4 pr-4 pb-2 pt-2 ml-1 border-2 rounded-md" name="action" value="resolved">Resolve</button>
            {% endif %}
            {% endspaceless %}

        {% else %}{# not resolved, i.e. buttons enabled #}
            {% spaceless %}{# needed to avoid whitespace between the looks-like-one-buttons #}

            {% if issue.project.has_releases %}
                {# 'by next' is shown even if 'by current' is also shown: just because you haven't seen 'by current' doesn't mean it's actually already solved; and in fact we show this option first precisely because we can always show it #} 
                <button class="font-bold text-slate-800 border-slate-500 pl-4 pr-4 pb-2 pt-2 ml-1 border-2 bg-cyan-200 hover:bg-cyan-400 active:ring rounded-s-md" name="action" value="resolved_next">Resolved in next release</button>

                <div class="dropdown">
                    <button disabled {# disabled b/c clicking the dropdown does nothing - we have hover for that #} class="font-bold text-slate-800 border-slate-500 pl-4 pr-4 pb-2 pt-2 border-r-2 border-t-2 border-b-2 hover:bg-slate-200 active:ring rounded-e-md">🞃</button>

                    {# note that we can depend on get_latest_release being available, because we're in the 'project.has_releases' branch #}
                    <div class="dropdown-content-right flex-col pl-2">

                        {% if not issue.occurs_in_last_release %}
                            <button name="action" value="resolved_release:{{ issue.project.get_latest_release.version }}" class="block self-stretch font-bold text-slate-500 border-slate-300 pl-4 pr-4 pb-2 pt-2 border-l-2 border-r-2 border-b-2 bg-white hover:bg-slate-200 active:ring text-left whitespace-nowrap">Resolved in latest ({{ issue.project.get_latest_release.get_short_version }})</button>
                        {% else %}
                            <button name="action" value="resolved_release:{{ issue.project.get_latest_release.version }}" disabled class="block self-stretch font-bold text-slate-300 border-slate-200 pl-4 pr-4 pb-2 pt-2 border-l-2 border-r-2 border-b-2 bg-white text-left whitespace-nowrap">Resolved in latest ({{ issue.project.get_latest_release.get_short_version }})</button>
                        {% endif %}

                    </div>
                </div> 


            {% else %}
                <button class="font-bold text-slate-800 border-slate-500 pl-4 pr-4 pb-2 pt-2 ml-1 border-2 bg-cyan-200 hover:bg-cyan-400 active:ring rounded-md" name="action" value="resolve">Resolve</button>
            {% endif %}

            {% endspaceless %}
        {% endif %}{# end of the resolved/not-resolved branch; (which implies disabled/enabled) #}

        {% spaceless %}{# needed to avoid whitespace between the looks-like-one-buttons #}
        {% if not issue.is_muted and not issue.is_resolved %}
            <button class="font-bold text-slate-500 border-slate-300 pl-4 pr-4 pb-2 pt-2 ml-1 border-2 hover:bg-slate-200 active:ring rounded-s-md" name="action" value="mute">Mute</button>
        {% else %}
            <button disabled class="font-bold text-slate-300 border-slate-300 pl-4 pr-4 pb-2 pt-2 ml-1 border-2 rounded-s-md" name="action" value="mute">Mute</button>
        {% endif %}

        <div class="dropdown">
            {% if not issue.is_muted and not issue.is_resolved %}
                <button disabled {# disabled b/c clicking the dropdown does nothing - we have hover for that #} class="font-bold text-slate-500 border-slate-300 pl-4 pr-4 pb-2 pt-2 border-r-2 border-b-2 border-t-2 hover:bg-slate-200 active:ring">Mute for/until&nbsp;&nbsp;&nbsp;🞃</button>

                <div class="dropdown-content-right flex-col">
                    {% for mute_option in mute_options %}
                        <button name="action" value="mute_{{ mute_option.for_or_until }}:{{ mute_option.period_name }},{{ mute_option.nr_of_periods }},{{ mute_option.gte_threshold }}" class="block self-stretch font-bold text-slate-500 border-slate-300 pl-4 pr-4 pb-2 pt-2 border-l-2 border-r-2 border-b-2 bg-white hover:bg-slate-200 active:ring text-left whitespace-nowrap">{% if mute_option.for_or_until == "for" %}{{ mute_option.nr_of_periods }} {{ mute_option.period_name }}{% if mute_option.nr_of_periods != 1 %}s{% endif %}{% else %}{{ mute_option.gte_threshold }} events per {% if mute_option.nr_of_periods != 1%} {{ mute_option.nr_of_periods }} {{ mute_option.period_name }}s{% else %} {{ mute_option.period_name }}{% endif %}{% endif %}</button>
                    {% endfor %}
                </div>
            {% else %}
                <button disabled class="font-bold text-slate-300 border-slate-300 pl-4 pr-4 pb-2 pt-2 border-r-2 border-b-2 border-t-2">Mute for/until&nbsp;&nbsp;&nbsp;🞃</button>
                {# note that when the issue is muted, no further muting is allowed. this is a design decision, I figured this is the easiest-to-understand UI, #}
                {# both at the point-of-clicking and when displaying the when-will-this-be-unmuted in some place #}
                {# (the alternative would be to allow multiple simulteneous reasons for unmuting to exist next to each other #}
                {# we just hide the whole dropdown; this is the easiest implementation of not-showing the dropdown when the issue is already muted #}
            {% endif %}
        </div> 

        {% if issue.is_muted and not issue.is_resolved %}
            <button class="font-bold text-slate-500 border-slate-300 pl-4 pr-4 pb-2 pt-2 border-r-2 border-b-2 border-t-2 hover:bg-slate-200 active:ring rounded-e-md" name="action" value="unmute">Unmute</button>
        {% else %}
            <button disabled class="font-bold text-slate-300 border-slate-300 pl-4 pr-4 pb-2 pt-2 border-r-2 border-b-2 border-t-2 rounded-e-md" name="action" value="unmute">Unmute</button>
        {% endif %}

        {% endspaceless %}

        </form>
    </div>
</div>

<div class="flex items-start"><!-- flex container for the 2 'windows' in this page' -->

    {# overflow-x-auto is needed at the level of the flex item such that it works at the level where we need it (the code listings)#}
    <div class="ml-4 mb-4 mr-4 border-2 overflow-x-auto flex-[2_1_96rem]"><!-- the whole of the big tabbed view--> {# 96rem is 1536px, which matches the 2xl class; this is no "must" but eyeballing revealed: good result #}
        <div class="flex bg-slate-50 border-b-2"><!-- container for the actual tab buttons -->
            <a href="/issues/issue/{{ issue.id }}/event/{{ event.id }}/"><div class="p-4 font-bold hover:bg-slate-200 {% if tab == "stacktrace" %}text-cyan-500 border-cyan-500 border-b-4{% else %}text-slate-500 border-slate-400 hover:border-b-4{% endif %}">Stacktrace</div></a>
            <a href="/issues/issue/{{ issue.id }}/event/{{ event.id }}/details/"><div class="p-4 font-bold hover:bg-slate-200 {% if tab == "event-details" %}text-cyan-500 border-cyan-500 border-b-4{% else %}text-slate-500 border-slate-400 hover:border-b-4{% endif %}">Event&nbsp;Details</div></a>
            <a href="/issues/issue/{{ issue.id }}/events/"><div class="p-4 font-bold hover:bg-slate-200 {% if tab == "event-list" %}text-cyan-500 border-cyan-500 border-b-4{% else %}text-slate-500 border-slate-400 hover:border-b-4{% endif %}">Event&nbsp;List</div></a>
            <a href="/issues/issue/{{ issue.id }}/history/"><div class="p-4 font-bold hover:bg-slate-200 {% if tab == "history" %}text-cyan-500 border-cyan-500 border-b-4{% else %}text-slate-500 border-slate-400 hover:border-b-4{% endif %}">History</div></a>
            <a href="/issues/issue/{{ issue.id }}/grouping/"><div class="p-4 font-bold hover:bg-slate-200 {% if tab == "grouping" %}text-cyan-500 border-cyan-500 border-b-4{% else %}text-slate-500 border-slate-400 hover:border-b-4{% endif %}">Grouping</div></a>
        </div>

        <div class="p-4"><!-- div for tab_content -->
        {% block tab_content %}
        {% endblock %}
        </div>

        <div class="flex p-4 bg-slate-200 border-b-2"><!-- bottom nav bar -->
            {% if is_event_page %}<div>Event ... {# TODO #} out of {{ issue.event_set.count }}{# TODO denormalize #} which occured at <span class="font-bold">{{ event.timestamp }}</span></div>{% endif %}
            <div class="ml-auto pr-4 font-bold text-slate-500">
                <a href="/admin/issues/issue/{{ issue.id }}/change/">Issue Admin</a>
                {% if is_event_page %}
                | <a href="/admin/events/event/{{ event.id }}/change/">Event Admin</a>
                | <a href="/events/event/{{ event.id }}/download/">Download</a>
                | <a href="/events/event/{{ event.id }}/raw/" >Raw</a>
                {% endif %}
            </div>
        </div>{# bottom nav bar #}
    </div>{# the whole of the big tabbed view #}

    <div class="w-128 hidden lg:flex flex-auto flex-col">{# RHS container for multiple stacked boxes #}

        <div class="border-2 mb-4 mr-4"><!-- "issue: key info" box -->
            <div class="p-4">
                <div class="mb-4">
                    <div class="text-sm font-bold text-slate-500">Issue #</div>
                    <div>LOCAL-BUGSINK-9001-1</div> {# TODO #}
                </div>

                <div class="mb-4">
                    <div class="text-sm font-bold text-slate-500">Nr. of events</div>
                    <div>1</div> {# TODO #}
                </div>

                <div class="mb-4">
                    <div class="text-sm font-bold text-slate-500">First seen</div>
                    <div>March 24, 2024, 7:19 a.m.</div> {# TODO #}
                </div>

                <div>
                    <div class="text-sm font-bold text-slate-500">Last seen</div>
                    <div>March 24, 2024, 7:19 a.m.</div> {# TODO #}
                </div>

            </div>
        </div>

        {% comment %} {# for now I don't actually think that 'tags' are key enough to get such a prominent position #}
        <div class="border-2 mb-4 mr-4"><!-- "issue: key info" box -->
            <div class="bg-slate-50 font-bold border-b-2">
                <div class="border-2 p-4 border-slate-50 text-slate-500"> {# div-in-div to match the spacing of the tabs, which is caused by the hover-thick-line; we use border-2 on both sides rather than border-b-4 to get the text aligned centeredly #}
                Tags {# (?) #}
                </div>
            </div>
            <div class="p-4">
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut tincidunt ante. Nam semper purus at convallis placerat. Vestibulum hendrerit, sapien id consequat rutrum, ipsum neque ullamcorper lectus, id vulputate eros quam quis est. Proin in congue tortor, in fringilla felis. Duis rhoncus neque non lacus sollicitudin, sit amet facilisis sem pellentesque. Vivamus vestibulum rutrum euismod. Morbi dapibus ex urna. Fusce non dolor ac nisi euismod mollis. Aliquam fringilla mauris enim, quis eleifend nisi rhoncus eu. Morbi fringilla nulla sem, vitae pellentesque nulla tristique ut. Vivamus commodo non dolor ut hendrerit.

Pellentesque vehicula venenatis lectus, id dictum magna iaculis ac. Vivamus a ante feugiat, consectetur lacus at, aliquet odio. Aliquam maximus ut ligula et mattis. Sed lobortis cursus felis sed pellentesque. Nullam luctus tempus nunc, eget lacinia nibh viverra vel. Sed vitae neque gravida, rutrum ante ut, mattis elit. Nam tristique consectetur ipsum, a venenatis felis dapibus vel. Phasellus nec orci risus. Cras sit amet vulputate leo. Aliquam vitae sapien sed massa tempus tempor non at nibh.
            </div>
        </div>
        {% endcomment %}

    </div>{# RHS container #}
</div>

{% endblock %}{# block content #}
