{% extends "issues/base.html" %}
{% load static %}
{% load stricter_templates %}
{% load issues %}
{% load humanize %}

{% block tab_content %}

<div class="flex">
    <div class="overflow-hidden">
        <div class="italic">{{ event.ingested_at|date:"j M G:i T" }} (Event {{ event.digest_order|intcomma }} of {{ issue.digested_event_count|intcomma }} total{% if q %} — {{ event_qs_count|intcomma }} found by search{% endif %})</div>
    </div>

    <div class="ml-auto flex-none">
        <div class="flex place-content-end">
            {% include "issues/_event_nav.html" %}
        </div>
    </div>
</div>

{% if not breadcrumbs %}

    <div class="mt-6 mb-6 italic">
        No breadcrumbs available for this event.
    </div>

{% else %}

<div class="pt-4">
<table class="w-full">
{# <thead> </thead> #}
<tbody>

{% for breadcrumb in breadcrumbs %}
    <tr class="border-slate-200 border-2 ">

    <td class="p-4 font-bold text-slate-500 align-top">
        {{ breadcrumb.category }}
    </td>

    {% comment %}
    {# not _that_ useful 
    <td class="ml-0 pb-4 pt-4 pr-4">
        {{ breadcrumb.type }}
    </td>
    {% endcomment %}

    <td class="w-full p-4 font-mono">
        {{ breadcrumb.message }}
    </td>
    <td class="p-4 font-bold text-slate-500 align-top">
        {{ breadcrumb.timestamp }}
        {# {{ breadcrumb.timestamp|date:"G:i T" and milis  }} #}
    </td>

    </tr>
    {% endfor %}
</tbody>
</table>
</div>

{% endif %}

{% endblock %}
