{% extends "events/base.html" %}
{% load static %}

{% block content %}
<div class="m-4 flex">
    <div>
        <h1 class="text-4xl font-bold">{{ issue.get_main_exception.type }}</h1>
        <div class="text-xl">{{ issue.get_main_exception.value }}</div>
        {% if parsed_data.request %}<div class="italic mt-4">{{ parsed_data.request.method }} {{ parsed_data.request.url }}</div>{% endif %}
        <div><span class="font-bold">ingest.management.commands.raise_exception</span> in <span class="font-bold">raise_exception</span></div>
    </div>
    <div class="ml-auto">
        <form action="" method="post">
        {% csrf_token %}
        {% if issue.is_resolved %}
            {# see issues/tests.py for why this is turned off ATM #}
            {# <button class="font-bold text-slate-800 border-slate-500 pl-4 pr-4 pb-2 pt-2 ml-1 border-2 bg-cyan-200 hover:bg-cyan-400 active:ring rounded-md" name="action" value="reopen">Reopen</button> #}
        {% else %}
            {% spaceless %}{# needed to avoid whitespace between the looks-like-one-buttons #}

            {% if issue.project.has_releases %}
                {# 'by next' is shown even if 'by current' is also shown: just because you haven't seen 'by current' doesn't mean it's actually already solved; and in fact we show this option first precisely because we can always show it #} 
                <button class="font-bold text-slate-800 border-slate-500 pl-4 pr-4 pb-2 pt-2 ml-1 border-2 bg-cyan-200 hover:bg-cyan-400 active:ring rounded-s-md" name="action" value="resolved_next">Resolved in next release</button>

                <div class="dropdown">
                    <button class="font-bold text-slate-800 border-slate-500 pl-4 pr-4 pb-2 pt-2 border-r-2 border-t-2 border-b-2 hover:bg-slate-200 active:ring rounded-e-md">🞃</button>

                    {# note that we can depend on get_latest_release being available, because we're in the 'project.has_releases' branch #}
                    <div class="dropdown-content flex-col pl-2">

                        {% if not issue.occurs_in_last_release %}
                            <button name="action" value="resolved_release:{{ issue.project.get_latest_release.version }}" class="block self-stretch font-bold text-slate-500 border-slate-300 pl-4 pr-4 pb-2 pt-2 border-l-2 border-r-2 border-b-2 bg-white hover:bg-slate-200 active:ring text-left whitespace-nowrap">Resolved in latest ({{ issue.project.get_latest_release.get_short_version }})</button>
                        {% else %}
                            <button name="action" value="resolved_release:{{ issue.project.get_latest_release.version }}" disabled class="block self-stretch font-bold text-slate-300 border-slate-200 pl-4 pr-4 pb-2 pt-2 border-l-2 border-r-2 border-b-2 bg-white text-left whitespace-nowrap">Resolved in latest ({{ issue.project.get_latest_release.get_short_version }})</button>
                        {% endif %}

                    </div>
                </div> 


            {% else %}
                <button class="font-bold text-slate-800 border-slate-500 pl-4 pr-4 pb-2 pt-2 ml-1 border-2 bg-cyan-200 hover:bg-cyan-400 active:ring rounded-md" name="action" value="resolved">Resolved</button>
            {% endif %}

            {% endspaceless %}
        {% endif %}

        {% spaceless %}{# needed to avoid whitespace between the looks-like-one-buttons #}
        {% if not issue.is_muted and not issue.is_resolved %}
            <button class="font-bold text-slate-500 border-slate-300 pl-4 pr-4 pb-2 pt-2 ml-1 border-2 hover:bg-slate-200 active:ring rounded-s-md" name="action" value="mute">Mute</button>
        {% else %}
            <button class="font-bold text-slate-300 border-slate-300 pl-4 pr-4 pb-2 pt-2 ml-1 border-2 rounded-s-md" disabled name="action" value="mute">Mute</button>
        {% endif %}

        <div class="dropdown">
            {% if not issue.is_muted and not issue.is_resolved %}
                <button disabled {# disabled b/c clicking the dropdown does nothing - we have hover for that #} class="font-bold text-slate-500 border-slate-300 pl-4 pr-4 pb-2 pt-2 border-r-2 border-b-2 border-t-2 hover:bg-slate-200 active:ring">Mute for/until&nbsp;&nbsp;&nbsp;🞃</button>

                {# we just hide the whole dropdown; this is the easiest implementation of not-showing the dropdown when the issue is already muted #}
                <div class="dropdown-content flex-col">
                    {% for mute_option in mute_options %}
                        <button name="action" value="mute_{{ mute_option.for_or_until }}:{{ mute_option.period_name }},{{ mute_option.nr_of_periods }},{{ mute_option.gte_threshold }}" class="block self-stretch font-bold text-slate-500 border-slate-300 pl-4 pr-4 pb-2 pt-2 border-l-2 border-r-2 border-b-2 bg-white hover:bg-slate-200 active:ring text-left whitespace-nowrap">{% if mute_option.for_or_until == "for" %}{{ mute_option.nr_of_periods }} {{ mute_option.period_name }}{% if mute_option.nr_of_periods != 1 %}s{% endif %}{% else %}{{ mute_option.gte_threshold }} events per {% if mute_option.nr_of_periods != 1%} {{ mute_option.nr_of_periods }} {{ mute_option.period_name }}s{% else %} {{ mute_option.period_name }}{% endif %}{% endif %}</button>
                    {% endfor %}
                </div>
            {% else %}
                <button disabled class="font-bold text-slate-300 border-slate-300 pl-4 pr-4 pb-2 pt-2 border-r-2 border-b-2 border-t-2">Mute for/until&nbsp;&nbsp;&nbsp;🞃</button>
            {% endif %}
        </div> 

        {% if issue.is_muted and not issue.is_resolved %}
            <button class="font-bold text-slate-500 border-slate-300 pl-4 pr-4 pb-2 pt-2 border-r-2 border-b-2 border-t-2 hover:bg-slate-200 active:ring rounded-e-md" name="action" value="unmute">Unmute</button>
        {% else %}
            <button disabled class="font-bold text-slate-300 border-slate-300 pl-4 pr-4 pb-2 pt-2 border-r-2 border-b-2 border-t-2 rounded-e-md" name="action" value="unmute">Unmute</button>
        {% endif %}

        {% endspaceless %}

        </form>
    </div>
</div>

<div class="ml-4 mb-4 mr-4 border-2">

<div class="flex bg-slate-50 border-b-2">
    <a href="/issues/1/NOTRIGHTEITEHR"><div class="p-4 text-cyan-500 font-bold border-cyan-500 border-b-4 hover:bg-slate-200">Stacktrace</div></a>
    <a href="TODO"><div class="p-4 text-slate-500 font-bold border-slate-400 hover:bg-slate-200 hover:border-b-4">Event&nbsp;Details</div></a>
    <a href="TODO"><div class="p-4 text-slate-500 font-bold border-slate-400 hover:bg-slate-200 hover:border-b-4">Event&nbsp;List</div></a>
    <a href="TODO"><div class="p-4 text-slate-500 font-bold border-slate-400 hover:bg-slate-200 hover:border-b-4">Grouping</div></a>
</div>

<div class="p-4 bg-slate-50">

{# <div class="font-bold">Stacktrace:</div> I think this is obvious?#}
{% for exception in exceptions %}
    {# option: make multi-exception stacktraces more clear <div class="border-l-4 border-cyan-500 pl-4"> }#}

    <div class="flex">
        <div>
            <h1 class="text-2xl font-bold {% if forloop.counter0 > 0 %}mt-4{% endif %}">{{ exception.type }}</h1>  {# potentially: hide this whole block if there is only a single exception #}
            <div class="text-lg mb-4">{{ exception.value }}</div>

        </div>
        {% if forloop.counter0 == 0 %}
        <div class="ml-auto">
            <div class="flex place-content-end">
                <button class="font-bold text-slate-500 border-slate-300 pl-2 pr-2 mr-2 border-2 rounded-md hover:bg-slate-200 active:ring" onclick="showAllFrames()">Show all</button>
                <button class="font-bold text-slate-500 border-slate-300 pl-2 pr-2 mr-2 border-2 rounded-md hover:bg-slate-200 active:ring" onclick="showInAppFrames()">Show in-app</button>
                <button class="font-bold text-slate-500 border-slate-300 pl-2 pr-2 mr-2 border-2 rounded-md hover:bg-slate-200 active:ring" onclick="hideAllFrames()">Hide all</button>
            </div>
        </div>
        {% endif %}
    </div>

    {% for frame in exception.stacktrace.frames %}
        
        <div class="bg-white w-full font-mono">

            <div class="flex pl-4 pt-2 pb-2 border-b-2 {% if forloop.first %}border-t-2{% endif %} {% if frame.in_app %}bg-slate-300 border-slate-500{% else %}bg-white border-slate-300{% endif %} cursor-pointer" onclick="toggleFrameVisibility(this)">
                <div>
                    <span class="font-bold">{{ frame.filename }}</span> in <span class="font-bold">{{ frame.function }}</span> line <span class="font-bold">{{ frame.lineno }}</span>.
                </div>
                <div class="ml-auto pr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 js-chevron transition-all {% if forloop.parentloop.last and forloop.last %}rotate-180{% endif %}">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                </div>
            </div>

            <div class="js-frame-details {% if frame.in_app %}js-in-app{% endif %}{% if frame.in_app %}bg-slate-300{% else %}border-slate-300{% endif %} overflow-hidden transition-all"
                {% if not forloop.parentloop.last or not forloop.last %}data-collapsed="true" style="height: 0px"{% endif %}>
                <div class="border-b-2 xl:flex border-slate-300">

                <div class="xl:w-1/2">
                    <ol class="list-decimal ml-16 mt-6 mb-6" start="100">
                    {% for line in frame.pre_context %}<li><div class="whitespace-pre w-full">{{ line }} {# leave space to avoid collapse #}</div></li>{% endfor %}
                    <li><div class="whitespace-pre font-bold bg-slate-300 w-full">{{ frame.context_line }} {# leave space to avoid collapse #}</div></li>
                    {% for line in frame.post_context %}<li><div class="whitespace-pre w-full">{{ line }} {# leave space to avoid collapse #}</div></li>{% endfor %}
                    </ol>
                </div>

                <div class="xl:w-1/2">
                    <div class="flex">
                        <div class="w-1/4 pt-2 pl-2 font-bold border-b-2 border-slate-500">Variable</div>
                        <div class="w-3/4 pt-2 font-bold border-b-2 border-slate-500">Value</div>
                    </div>
                    {% for var, value in frame.vars.items %}
                    <div class="flex {% if forloop.last %}mb-4{% endif %}">
                        <div class="w-1/4 pl-2 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ var }}</div>
                        <div class="w-3/4 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ value }}</div>
                    </div>
                    {% endfor %} 
                </div>

                </div>
            </div>

        </div>

    {% endfor %}
    {# </div> #} {# per-exception div in the multi-exception case #}

    {% if not forloop.last %}
        <div class="italic pt-4">During handling of the above exception, another exception occurred:</div>
        {# note: the above is specific to Python. In Python there's also "The above exception was the direct cause of the following exception:" (raise ... from) but we cannot distinguish those at this level because the info is lost #}
    {% endif %}

{% endfor %}


{% if parsed_data.logentry %}

    <h1 class="text-3xl mt-4">{{ parsed_data.logentry.formatted }}</h1>
    <div>this is a log entry (I intend to make this clear in some other way)</div>

    {% if parsed_data.logger %}
    Emitted by {{ parsed_data.logger }}
    {% endif %}

{% endif %}

{% if parsed_data.request %}

    <h1 class="text-3xl mt-4">Request</h1>

        <div class="mt-4 mb-12 p-4 bg-white">
            
            {% for request_key, request_value in parsed_data.request.items %}
            {% if request_key != "headers" and request_key != "env" %}{# we deal with these below #}
            <div class="flex">
                <div class="w-1/4 pl-2 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ request_key }}</div>
                <div class="w-3/4 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ request_value }}</div>
            </div>
            {% endif %}
            {% endfor %}

            <h3 class="text-2xl mt-4">Request headers</h1>

            {% for header_key, header_value in parsed_data.request.headers.items %}
            <div class="flex">
                <div class="w-1/4 pl-2 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ header_key }}</div>
                <div class="w-3/4 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ header_value }}</div>
            </div>
            {% endfor %}

            <h3 class="text-2xl mt-4">Request env</h1>

            {% for env_key, env_value in parsed_data.request.env.items %}
            <div class="flex">
                <div class="w-1/4 pl-2 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ env_key }}</div>
                <div class="w-3/4 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ env_value }}</div>
            </div>
            {% endfor %} 

        </div>


{% endif %}


<h1 class="text-3xl mt-4">Grouper</h1>


Issue grouper: <span class="font-mono whitespace-pre">"{{ issue_grouper }}"</span>

</div> {# the inner issue-block #}
<div class="flex p-4 bg-slate-200 border-b-2">
    <div>Event 55 out of 55 which occured at <span class="font-bold">{{ event.timestamp }}</span> (most recent)</div>
    <div class="ml-auto pr-4 font-bold text-slate-500">
        <a href="/admin/issues/issue/{{ issue.id }}/change/">Issue Admin</a>
        | <a href="/admin/events/event/{{ event.id }}/change/">Event Admin</a>
        | <a href="/events/event/{{ event.id }}/download/">Download</a>
        | <a href="/events/event/{{ event.id }}/raw/" >Raw</a>
    </div>
</div>
</div>  {# the border #}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/issue.js' %}"></script>
{% endblock %}
