{% extends "issues/base.html" %}
{% load static %}

{% block content %}
{{ block.super }}

<div class="p-4 bg-slate-50">

{# <div class="font-bold">Stacktrace:</div> I think this is obvious?#}
{% for exception in exceptions %}
    {# option: make multi-exception stacktraces more clear <div class="border-l-4 border-cyan-500 pl-4"> }#}

    <div class="flex">
        <div>
            <h1 class="text-2xl font-bold {% if forloop.counter0 > 0 %}mt-4{% endif %}">{{ exception.type }}</h1>  {# potentially: hide this whole block if there is only a single exception #}
            <div class="text-lg mb-4">{{ exception.value }}</div>

        </div>
        {% if forloop.counter0 == 0 %}
        <div class="ml-auto">
            <div class="flex place-content-end">
                <button class="font-bold text-slate-500 border-slate-300 pl-2 pr-2 mr-2 border-2 rounded-md hover:bg-slate-200 active:ring" onclick="showAllFrames()">Show all</button>
                <button class="font-bold text-slate-500 border-slate-300 pl-2 pr-2 mr-2 border-2 rounded-md hover:bg-slate-200 active:ring" onclick="showInAppFrames()">Show in-app</button>
                <button class="font-bold text-slate-500 border-slate-300 pl-2 pr-2 mr-2 border-2 rounded-md hover:bg-slate-200 active:ring" onclick="hideAllFrames()">Hide all</button>
            </div>
        </div>
        {% endif %}
    </div>

    {% for frame in exception.stacktrace.frames %}
        
        <div class="bg-white w-full font-mono">

            <div class="flex pl-4 pt-2 pb-2 border-b-2 {% if forloop.first %}border-t-2{% endif %} {% if frame.in_app %}bg-slate-300 border-slate-500{% else %}bg-white border-slate-300{% endif %} cursor-pointer" onclick="toggleFrameVisibility(this)">
                <div>
                    <span class="font-bold">{{ frame.filename }}</span> in <span class="font-bold">{{ frame.function }}</span> line <span class="font-bold">{{ frame.lineno }}</span>.
                </div>
                <div class="ml-auto pr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 js-chevron transition-all {% if forloop.parentloop.last and forloop.last %}rotate-180{% endif %}">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                </div>
            </div>

            <div class="js-frame-details {% if frame.in_app %}js-in-app{% endif %} {% if not frame.in_app %}border-slate-300{% endif %} overflow-hidden transition-all"
                {% if not forloop.parentloop.last or not forloop.last %}data-collapsed="true" style="height: 0px"{% endif %}>
                <div class="border-b-2 xl:flex border-slate-300">

                <div class="xl:w-1/2">
                    <ol class="list-decimal ml-16 mt-6 mb-6" start="100">
                    {% for line in frame.pre_context %}<li><div class="whitespace-pre w-full">{{ line }} {# leave space to avoid collapse #}</div></li>{% endfor %}
                    <li><div class="whitespace-pre font-bold bg-slate-300 w-full">{{ frame.context_line }} {# leave space to avoid collapse #}</div></li>
                    {% for line in frame.post_context %}<li><div class="whitespace-pre w-full">{{ line }} {# leave space to avoid collapse #}</div></li>{% endfor %}
                    </ol>
                </div>

                <div class="xl:w-1/2">
                    <div class="flex">
                        <div class="w-1/4 pt-2 pl-2 font-bold border-b-2 border-slate-500">Variable</div>
                        <div class="w-3/4 pt-2 font-bold border-b-2 border-slate-500">Value</div>
                    </div>
                    {% for var, value in frame.vars.items %}
                    <div class="flex {% if forloop.last %}mb-4{% endif %}">
                        <div class="w-1/4 pl-2 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ var }}</div>
                        <div class="w-3/4 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ value }}</div>
                    </div>
                    {% endfor %} 
                </div>

                </div>
            </div>

        </div>

    {% endfor %}
    {# </div> #} {# per-exception div in the multi-exception case #}

    {% if not forloop.last %}
        <div class="italic pt-4">During handling of the above exception another exception occurred or was intentionally reraised:</div>
        {# note: the above is specific to Python. We cannot distinguish between Python's 2 types of chained exceptions because the info is not sent by the client #}
        {# we could try to infer this from the stacktrace, but parsing potentially arbitrarily formatted partial code is brittle #}
    {% endif %}

{% endfor %}


{% if parsed_data.logentry %}

    <h1 class="text-3xl mt-4">{{ parsed_data.logentry.formatted }}</h1>
    <div>this is a log entry (I intend to make this clear in some other way)</div>

    {% if parsed_data.logger %}
    Emitted by {{ parsed_data.logger }}
    {% endif %}

{% endif %}

{% if parsed_data.request %}

    <h1 class="text-3xl mt-4">Request</h1>

        <div class="mt-4 mb-12 p-4 bg-white">
            
            {% for request_key, request_value in parsed_data.request.items %}
            {% if request_key != "headers" and request_key != "env" %}{# we deal with these below #}
            <div class="flex">
                <div class="w-1/4 pl-2 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ request_key }}</div>
                <div class="w-3/4 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ request_value }}</div>
            </div>
            {% endif %}
            {% endfor %}

            <h3 class="text-2xl mt-4">Request headers</h1>

            {% for header_key, header_value in parsed_data.request.headers.items %}
            <div class="flex">
                <div class="w-1/4 pl-2 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ header_key }}</div>
                <div class="w-3/4 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ header_value }}</div>
            </div>
            {% endfor %}

            <h3 class="text-2xl mt-4">Request env</h1>

            {% for env_key, env_value in parsed_data.request.env.items %}
            <div class="flex">
                <div class="w-1/4 pl-2 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ env_key }}</div>
                <div class="w-3/4 {% if not forloop.counter|divisibleby:2 %}bg-slate-200{% endif %}">{{ env_value }}</div>
            </div>
            {% endfor %} 

        </div>


{% endif %}


<h1 class="text-3xl mt-4">Grouper</h1>


Issue grouper: <span class="font-mono whitespace-pre">"{{ issue_grouper }}"</span>

</div> {# the inner issue-block #}
<div class="flex p-4 bg-slate-200 border-b-2">
    <div>Event ... {# TODO #} out of {{ issue.event_set.count }}{# TODO denormalize #} which occured at <span class="font-bold">{{ event.timestamp }}</span></div>
    <div class="ml-auto pr-4 font-bold text-slate-500">
        <a href="/admin/issues/issue/{{ issue.id }}/change/">Issue Admin</a>
        | <a href="/admin/events/event/{{ event.id }}/change/">Event Admin</a>
        | <a href="/events/event/{{ event.id }}/download/">Download</a>
        | <a href="/events/event/{{ event.id }}/raw/" >Raw</a>
    </div>
</div>
</div>  {# the border #}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/issue.js' %}"></script>
{% endblock %}
