{% extends "base.html" %}

{% block title %}Issues · {{ project.name }} · Bugsink{% endblock %}

{% block content %}

<div class="m-4">
<h1 class="text-4xl mt-4">{{ project.name }} - Issues</h1>

    <div class="mt-4">
      <table class="w-full">
      {% comment %}
      <thead>
          <tr>
              <th colspan="2">The table header</th>
          </tr>
      </thead>
      {% endcomment %}
      <tbody>
            {% for issue in issue_list %}
            <tr class="bg-slate-50 border-slate-300 border-2 ">
            <td>
                <input type="checkbox" class="bg-white border-cyan-800 text-cyan-500 focus:ring-cyan-200 m-4"/>
            </td>
            <td class="w-full ml-0 pb-4 pt-4 pr-4">
                <div>
                    <a href="/issues/issue/{{ issue.id }}/event/last/" class="text-cyan-500 font-bold">{{ issue.title|truncatechars:100 }}</a>
                </div>
                <div class="text-sm">from <b>8 Nov 12:33</b> | last <b>8 Nov 12:39</b> | with <b>3</b> events
                    {% if issue.parsed_data.transaction %}| <span class="font-bold">{{ issue.parsed_data.transaction }} </span>{% endif %}
                </div>
            </td>

            {% comment %}
            [ ] first release (or commit), last release (or commit)
            [ ] first seen
            [ ] last seen.
            [ ] assigned to
            [ ] n.r. of events?
            {% endcomment %}
            <td class="text-right p-4">
                ABC
            </td>

            <td class="text-right p-4">
                123
            </td>

            </tr>
            {% endfor %}
        </tbody>
        </table>

    </div>


</div>

{% endblock %}
