{% extends "issues/base.html" %}
{% load static %}

{% block tab_content %}

    {% for issuetags in issue.tags_all %}

        <h1 id="{{ issuetags.0.key.key }}" class="text-2xl font-bold mt-4">{{ issuetags.0.key.key }}:</h1>

        <div class="mb-6">
            {% for issuetag in issuetags %} 
                <div class="flex {% if forloop.first %}border-slate-300 border-t-2{% endif %}">
                    <div class="w-2/3 {% if not forloop.last %}border-b-2 border-dotted border-slate-300{% endif %}">{{ issuetag.value.value }}</div>
                    <div class="w-1/6 {% if not forloop.last %} border-b-2 border-dotted border-slate-300{% endif %} font-mono">{{ issuetag.pct }}%</div>
                    <div class="w-1/6 {% if not forloop.last %} border-b-2 border-dotted border-slate-300{% endif %} font-mono">{{ issuetag.count }} events</div>
                </div>
            {% endfor %}
        </div>
    {% empty %}
        <h1 class="text-2xl font-bold mt-4">No tags</h1>

        <div class="mb-6">
            No tags found for this issue.
        </div>

    {% endfor %}

{% endblock %}
