{% if formfield %}
<div class="form-control w-full mb-6 md:mb-8">

    {% if not implicit %}
        <label class="label"><span class="label-text font-bold">{{ formfield.label }}</span></label>
    {% endif %}

    {{ formfield }}

    {% if formfield.errors %}
    {% for error in formfield.errors %}
        <div class="label"><span class="label-text-alt text-error">{{ error }}</span></div>
    {% endfor %}
    {% elif formfield.help_text %}
        <div class="label"><span class="label-text-alt opacity-70">{{ formfield.help_text|safe }}</span></div>
    {% endif %}
</div>
{% endif %}
