{% load i18n admin_urls %}
{% block object-tools-items %}
<li>
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a href="{% add_preserved_filters history_url %}" class="historylink">{% translate "History" %}</a>
</li>
{% if original.get_raw_link %}<li><a href="{{ original.get_raw_link }}">{% translate "Raw" %}</a></li>{% endif %}
{% if original.get_download_link %}<li><a href="{{ original.get_download_link }}">{% translate "Download" %}</a></li>{% endif %}
{% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% translate "View on site" %}</a></li>{% endif %}
{% endblock %}
