{% extends "base.html" %}
{% load static %}
{% load tailwind_forms %}
{% load i18n %}

{% block title %}{% translate "Settings" %} · {{ team.name }} · {{ site_title }}{% endblock %}

{% block content %}


<div class="flex items-center justify-center">

    <div class="m-4 max-w-4xl flex-auto">
        <form action="." method="post">
        {% csrf_token %}

        <div>
            <h1 class="text-4xl my-4 font-bold">{% translate "Settings" %} · {{ team.name }}</h1>
        </div>

        <div class="mt-4 mb-4">
            {% blocktranslate with team_name=team.name %}Team settings for "{{ team_name }}".{% endblocktranslate %}
        </div>

        {% tailwind_formfield form.name %}
        {% tailwind_formfield form.visibility %}

        <div class="flex items-center mt-4">
            <button name="action" value="invite" class="btn btn-primary">{% translate "Save" %}</button>
            <a href="{% url "team_list" %}" class="link link-primary font-bold ml-2">{% translate "Cancel" %}</a>
        </div>
        </form>

    </div>
</div>

{% endblock %}
