{% extends "base.html" %}
{% load tailwind_forms %}
{% load i18n %}

{% block title %}Change Password · {{ site_title }}{% endblock %}

{% block content %}


<div class="flex items-center justify-center">

    <div class="m-4 max-w-4xl flex-auto">
        <form action="." method="post">
        {% csrf_token %}

        {% if messages %}
        <ul>
            {% for message in messages %}
                {# if we introduce different levels we can use{% message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} #}
                <li role="alert" class="alert alert-info mb-4">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div>
            <h1 class="text-4xl my-4 font-bold">{% translate "Change password" %}</h1>
        </div>

        {% tailwind_formfield form.old_password %}
        {% tailwind_formfield form.new_password1 %}
        {% tailwind_formfield form.new_password2 %}

        <button class="btn btn-primary">{% translate "Change password" %}</button>
        <a href="{% url 'preferences' %}" class="link link-primary font-bold ml-2">{% translate "Cancel" %}</a>
        </form>

    </div>
</div>

{% endblock %}
