{% extends "base.html" %}
{% load static %}

{% block title %}Users · {{ site_title }}{% endblock %}

{% block content %}

<div class="flex items-center justify-center">

    <div class="m-4 max-w-4xl flex-auto">

        {% if messages %}
        <ul class="mb-4">
            {% for message in messages %}
                {# if we introduce different levels we can use{% message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} #}
                <li class="bg-cyan-50 border-2 border-cyan-800 p-4 rounded-lg">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="flex">
            <h1 class="text-4xl mt-4 font-bold">Users</h1>

            {% comment %}
            Our current invite-system is tied to either a team or a project; no "global" invites (yet).
            <div class="ml-auto mt-6">
                <a class="font-bold text-slate-800 border-slate-500 pl-4 pr-4 pb-2 pt-2 ml-1 border-2 bg-cyan-200 hover:bg-cyan-400 active:ring rounded-md" href="{% url "team_members_invite" team_pk=team.pk %}">Invite Member</a>
            </div> 
            {% endcomment %}
        </div>

        <div>
          <form action="." method="post">
          {% csrf_token %}

          <table class="w-full mt-8">
          <tbody>
                <thead>
                <tr class="bg-slate-200">
                    <th class="w-full p-4 text-left text-xl" colspan="2">Users</th>
                </tr>

                {% for user in users %}
                <tr class="bg-white border-slate-200 border-b-2">
                <td class="w-full p-4">
                    <div>
                        <a href="{% url "user_edit" user_pk=user.pk %}" class="text-xl text-cyan-500 font-bold">{{ user.username }}</a>  {# "best name" perhaps later? #}
                        {# <span class="bg-slate-100 rounded-2xl px-4 py-2 ml-2 text-sm">Invitation pending</span> #}  {# perhaps useful for "not active"? #}
                        {% if member.is_superuser %}
                        <span class="bg-cyan-100 rounded-2xl px-4 py-2 ml-2 text-sm">Superuser</span>
                        {% endif %}
                    </div>
                </td>

                <td class="p-4">
                    <div class="flex justify-end">
                        {% if not request.user == user %}
                            {% if user.is_active %}
                                <button name="action" value="deactivate:{{ user.id }}" class="font-bold text-slate-500 border-slate-300 pl-4 pr-4 pb-2 pt-2 ml-2 border-2 hover:bg-slate-200 active:ring rounded-md">Deactivate</button>
                            {% else %}
                                <button name="action" value="activate:{{ user.id }}" class="font-bold text-slate-500 border-slate-300 pl-4 pr-4 pb-2 pt-2 ml-2 border-2 hover:bg-slate-200 active:ring rounded-md">Activate</button>
                            {% endif %}
                        {% endif %}
                    </div> 
                </td>

                </tr>
                {% endfor %}

                {#% empty %} not needed, a site without users cannot be visited by a user #}
            </tbody>
            </table>

            </form>
        </div>

    {% comment %}
    <div class="flex flex-direction-row">
        <div class="ml-auto py-8 pr-4">
            <a href="{% url "..." %}" class="text-cyan-500 font-bold">Back to Xxxx</a>  {# perhaps once this is part of some other flow #}
        </div>
    </div>
    {% endcomment %}
</div>

{% endblock %}
