{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Members" %} · {{ project.name }} · {{ site_title }}{% endblock %}

{% block content %}



<div class="flex items-center justify-center">

    <div class="m-4 max-w-4xl flex-auto">

        {% if messages %}
        <ul class="mb-4">
            {% for message in messages %}
                {# if we introduce different levels we can use{% message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} #}
                <li class="alert alert-info">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% include "includes/invite_link_notice.html" %}

        <div class="flex">
            <h1 class="text-4xl mt-4 font-bold">{% translate "Members" %} · {{ project.name }}</h1>

            <div class="ml-auto mt-6">
                <a class="btn btn-primary" href="{% url "project_members_invite" project_pk=project.pk %}">{% translate "Invite Member" %}</a>
            </div>
        </div>

        <div>
          <form action="." method="post">
          {% csrf_token %}

          <table class="w-full mt-8">
          <tbody>
                <thead>
                <tr class="bg-base-200">
                    <th class="w-full p-4 text-left text-xl" colspan="2">{{ project.name }}</th>
                </tr>

                {% for member in members %}
                <tr class="hover:bg-base-200 border-b border-base-300">
                <td class="w-full p-4">
                    <div>
                        <a href="{% url "project_member_settings" project_pk=project.pk user_pk=member.user_id %}" class="text-xl link link-primary font-bold">{{ member.user.email }}</a>  {# "best name" perhaps later? #}
                        {% if not member.accepted %}
                        <span class="badge badge-ghost ml-2">{% translate "Invitation pending" %}</span>
                        {% elif member.is_admin %} {# NOTE: we intentionally hide admin-ness for non-accepted users #}
                        <span class="badge badge-primary ml-2">{% translate "Admin" %}</span>
                        {% endif %}
                    </div>
                </td>

                <td class="p-4">
                    <div class="flex justify-end">
                        {% if not member.accepted %}
                            {% if can_copy_invite_links and member.user.is_active %}
                            <button name="action" value="copy_invite_link:{{ member.user_id }}" class="btn btn-ghost border border-base-300 whitespace-nowrap ml-2">{% translate "Show invite link" %}</button>
                            {% elif can_send_invites %}
                            <button name="action" value="reinvite:{{ member.user_id }}" class="btn btn-ghost border border-base-300 whitespace-nowrap ml-2">{% translate "Reinvite" %}</button>
                            {% else %}
                            <button type="button" disabled class="btn btn-ghost border border-base-300 btn-disabled whitespace-nowrap">{% translate "Reinvite" %}</button>
                            {% endif %}
                        {% endif %}
                        {% if request.user == member.user %}
                            <button name="action" value="remove:{{ member.user_id }}" class="btn btn-ghost border border-base-300 whitespace-nowrap ml-2">{% translate "Leave" %}</button>
                        {% else %}  {# NOTE: in our setup request_user_is_admin is implied because only admins may view the membership page #}
                            <button name="action" value="remove:{{ member.user_id }}" class="btn btn-ghost border border-base-300 whitespace-nowrap ml-2">{% translate "Remove" %}</button>
                        {% endif %}
                    </div>
                </td>

                </tr>
                {% empty %}
                <tr class="hover:bg-base-200 border-b border-base-300">
                <td class="w-full p-4">
                    <div>
                        {# Note: this is already somewhat exceptional, because the usually you'll at least see yourself here (unless you're a superuser and a project has become memberless) #}
                        {% translate "No members yet." %} <a href="{% url "project_members_invite" project_pk=project.pk %}" class="link link-primary font-bold">{% translate "Invite someone</a>." %}
                    </div>
                </td>
                </tr>

                {% endfor %}
            </tbody>
            </table>

            </form>
        </div>

    <div class="flex flex-direction-row">
        <div class="ml-auto py-8 pr-4">
            <a href="{% url "team_members" team_pk=project.team_id %}" class="link link-primary font-bold">{% blocktranslate with team_name=project.team.name %} {{ team_name }} Members{% endblocktranslate %}</a>
            <span class="opacity-50">|</span> <a href="{% url "project_list" %}" class="link link-primary font-bold">{% translate "Back to Projects" %}</a>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/copy.js' %}"></script>
{% endblock %}
