{% extends "base.html" %}
{% load static %}

{% block title %}Set up your SDK · {{ site_title }}{% endblock %}

{% block content %}


<div class="flex items-center justify-center">

    <div class="m-4 max-w-4xl flex-auto">
        <h1 class="text-4xl font-bold">Set up your SDK</h1>

        <div class="mt-4">
            Add an SDK to your application to start tracking errors.
            {% comment %}
            Bugsink tracks errors in your running applications. To get the errors from your application into Bugsink,
            you need to set up an SDK. An SDK is a library that you include in your application that sends the errors to Bugsink.
            Follow the instructions below to set up your SDK.
            {% endcomment %}
        </div>

        <div class="mt-4 italic">
            Note: currently, we only support the Python SDK. Other SDKs might actually work, but have not been tested.
        </div>

        <div class="mt-4">
            Bugsink is compatible with the Sentry SDK. A basic setup is the following:
        </div>

        <h2 class="mt-8 text-2xl font-bold">Step 1: Install the SDK</h2>

        <div class="mt-4">
            Install the SDK using pip:
        </div>

        {{ install }}

        <h2 class="mt-8 text-2xl font-bold">Step 2: Initialize the SDK</h2>

        <div class="mt-4">
            Initialize the SDK with your DSN:
        </div>

        {{ conf }}

        <div class="mt-4">
            For integration-specific (Django, Flask, etc) notes, see the <a href="https://docs.sentry.io/platforms/python/" class="text-cyan-500 font-bold" target="_blank">Sentry documentation</a>.
        </div>

        <h2 class="mt-6 text-2xl font-bold">Step 3: Verify the setup</h2>

        <div class="mt-4">
            Verify the setup by sending an event:
        </div>

        {{ verify }}

        <div class="mt-4"> 
            Your event should now appear in the <a href="{% url "issue_list_open" project_pk=project.pk %}" class="text-cyan-500 font-bold">list of open issues</a>.
        </div>

        <div class="mt-8"> 
            Alternatively, manage the
            <a href="{% url "project_members" project_pk=project.pk %}" class="text-cyan-500 font-bold">Project Members</a>
            or <a href="{% url "project_edit" project_pk=project.pk %}" class="text-cyan-500 font-bold">Project settings</a>.
        </div>

    </div>
</div>

{% endblock %}
