{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Invitation" %} · {{ project.name }} · {{ site_title }}{% endblock %}

{% block content %}



<div class="flex items-center justify-center">

    <div class="m-4 max-w-4xl flex-auto">
        <form action="." method="post">
        {% csrf_token %}

        <div>
            <h1 class="text-4xl my-4 font-bold">{% translate "Invitation" %} · {{ project.name }}</h1>
        </div>

        <div class="mt-4 mb-4">
            {% blocktranslate with project_name=project.name role=membership.get_role_display %}You have been invited to join the project "{{ project_name }}" in the role of "{{ role }}". Please confirm by clicking the button below.{% endblocktranslate %}
        </div>

        <button name="action" value="accept" class="btn btn-primary">{% translate "Accept" %}</button>
        <button name="action" value="decline" class="btn btn-ghost border border-base-300 ml-2">{% translate "Decline" %}</button>
        </form>

    </div>
</div>

{% endblock %}
