{% extends "base.html" %}
{% load static %}
{% load tailwind_forms %}

{% block title %}Edit {{ project.name }} · {{ site_title }}{% endblock %}

{% block content %}
{# div class="text-cyan-800" here in an attempt to trigger tailwind, which does not pick up Pyhton code #}


<div class="flex items-center justify-center">

    <div class="m-4 max-w-4xl flex-auto">
        <form action="." method="post">
        {% csrf_token %}

        <div>
            <h1 class="text-4xl my-4 font-bold">Settings ({{ project.name }})</h1>
        </div>

        <div class="mt-4 mb-4">
            Project settings for "{{ project.name }}".
        </div>

        {% tailwind_formfield form.name %}
        {% tailwind_formfield form.visibility %}
        {% tailwind_formfield form.dsn %}

        <button name="action" value="invite" class="font-bold text-slate-800 border-slate-500 pl-4 pr-4 pb-2 pt-2 border-2 bg-cyan-200 hover:bg-cyan-400 active:ring rounded-md">Save</button>
        <a href="{% url "project_list" %}" class="text-cyan-500 font-bold ml-2">Cancel</a>
        </form>

    </div>
</div>

{% endblock %}
