{% extends "base.html" %}
{% load static %}
{% load tailwind_forms %}
{% load i18n %}

{% block title %}{% translate "Membership settings" %} · {{ project.name }} · {{ site_title }}{% endblock %}

{% block content %}


<div class="flex items-center justify-center">

    <div class="m-4 max-w-4xl flex-auto">
        <form action="." method="post">
        {% csrf_token %}

        {% if messages %}
        <ul>
            {% for message in messages %}
                {# if we introduce different levels we can use{% message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} #}
                <li class="alert alert-info">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div>
            <h1 class="text-4xl my-4 font-bold">{% translate "Membership settings" %} · {{ project.name }}</h1>
        </div>

        <div class="mt-4 mb-4">
            {% if this_is_you %}
                {% blocktranslate with project_name=project.name %}Your membership settings for project "{{ project_name }}".{% endblocktranslate %}
            {% else %}
                {% blocktranslate with project_name=project.name username=user.username %}Settings for project "{{ project_name }}" and user {{ username }}.{% endblocktranslate %}
            {% endif %}
        </div>

        {% tailwind_formfield form.role %}
        {% tailwind_formfield form.send_email_alerts %}

        <button class="btn btn-primary">{% translate "Save" %}</button>
        {% if this_is_you %}
            <a href="{% url "project_list" %}" class="link link-primary font-bold ml-2">{% translate "Cancel" %}</a> {# not quite perfect, because "you" can also click on yourself in the member list #}
        {% else %}
            <a href="{% url "project_members" project_pk=project.pk %}" class="link link-primary font-bold ml-2">{% translate "Cancel" %}</a>
        {% endif %}
        </form>

    </div>

</div>


{% endblock %}
